
div#chart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend_line {
  stroke-width: 5px;
}

.grid .tick {
	stroke: #f0f0f0;
	storke-opacity: 0.2;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}